# Contents for the day: 
1. Polymorphism
2. Encapsulation
3. Inheritance 

# Tasks:
1. Task 1
2. Task 2

## Recap: Creating Classes

In [ ]:
class Student:
  #Instance attribute
  #By using the "self" we can acess the attributes and methods of the class in Python
  
  #Default function
  def __init__(self, name, yos, cca, types):
    self.name = name
    self.yos = yos
    self.cca = cca
    self.types = types
  def dance(self):
    return "{} is now dancing crazily".format(self.name)
  def sing(self, song):
    return "{} from year {} sings {}".format(self.name, self.yos, song)

## Similar Class: Teacher

In [ ]:
class Teacher:
  #Instance attribute
  #By using the "self" we can acess the attributes and methods of the class in Python
  
  #Default function
  def __init__(self, name, yos, cca, types):
    self.name = name
    self.yos = yos
    self.cca = cca
    self.types = types
  def dance(self):
    return "{} is now dancing crazily".format(self.name)
  def sing(self, song):
    return "{} from year {} sings {}".format(self.name, self.yos, song)

### Instantiate the object

In [ ]:
Chandler = Student("Chandler", 3, "DAC", "University student")
Ross = Student("Ross", 1, "IONS", "Secondary School Student")
Racheal = Student("Racheal", 2, "Dragon Boating", "University student")

In [ ]:
Amy = Teacher("Amy", 3, "IONs", "HOD")
Dan = Teacher("Dan", 2, "IT Club", "Sub")
Ron = Teacher("Ron", 1, "Track", "Teacher")

## Polymorphism
* Refers to the ability of a subclass to adapt a method that already exists in its superclass to meet its needs
* Condition of occurence in different forms
* Refers to the use of a single type entity (method, operator or object) to represent different types in different scenarios

### From the context of the Teachers and Students classes:

In [ ]:
for people in (Ross, Racheal, Chandler, Amy, Dan, Ron):
  print(people.sing("Who let the dogs out"))
  print(people.dance())
  print("-------------------------------------------------------")

Ross from year 1 sings Who let the dogs out
Ross is now dancing crazily
-------------------------------------------------------
Racheal from year 2 sings Who let the dogs out
Racheal is now dancing crazily
-------------------------------------------------------
Chandler from year 3 sings Who let the dogs out
Chandler is now dancing crazily
-------------------------------------------------------
Amy from year 3 sings Who let the dogs out
Amy is now dancing crazily
-------------------------------------------------------
Dan from year 2 sings Who let the dogs out
Dan is now dancing crazily
-------------------------------------------------------
Ron from year 1 sings Who let the dogs out
Ron is now dancing crazily
-------------------------------------------------------

## Encapsulation
* describes the idea of wrapping data and the methods that work on data within one unit
* puts restrictions on accessing variables and methods directly and can prevent the accidental modification of data
* Object's variable can only be changed by an object's method -> known as private variables

Real life example:
* Hiding data from one department of the company to the other departments for confidentiality purposes

In [ ]:
class Book: 
  def __init__(self, title, quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    #Private
    self.__price = price
    self.__discount = None
  
  def set_discount(self, discount):
    self.__discount = discount
  
  def get_price(self):
    if self.__discount:
      return self.__price * (1-self.__discount)
    return self.__price
  
  def __repr__(self):
    return f"Book: {self.title}, Quantity: {self.quantity}, Author: {self.author}, Price: {self.get_price()}"

In [ ]:
# Instantiate the objects
# You do not include the private attributes in which would be the price
singular_books = Book('The Lost Art of Doing Nothing', 1, 'Maartje Willems', 17.99)
books_in_bulk = Book('The Fault in Our Stars', 25, 'John Green', 43.73)
books_in_bulk.set_discount(0.15)

#Print out the prices of singular book
print(singular_books.get_price())
#Print out the prices of books in bulk 
print(books_in_bulk.get_price())

#Printing out entire objects
print(singular_books)
print(books_in_bulk)

17.99
37.1705
Book: The Lost Art of Doing Nothing, Quantity: 1, Author: Maartje Willems, Price: 17.99
Book: The Fault in Our Stars, Quantity: 25, Author: John Green, Price: 37.1705

## Inheritance

Definition: 
Inheritance is the capability of one class to derive or inherit the properties from another class
* The class has the ability to inherit methods and characteristics from another class
* The child class is the one that inherits.
* Parent class is the class from which the methods are inherited from
* Used to reduce computational time
* Simply inherit the properties of one class into the other

In [ ]:
#Parent Class
class Student(object):

  #__init__ is know as the constructor
  def __init__(self, name, idnumber):
    self.name = name
    self.idnumber = idnumber

  def display(self):
    print(self.name)
    print(self.idnumber)

#Child class
class Administration(Student):
  def __init__(self, name, idnumber, grades_gpa, position):
    self.grades_gpa = grades_gpa
    self.position = position

    #invoking the __init__ of the parent class
    Student.__init__(self, name, idnumber)

#Creating an object variable or an instance
a = Administration('Chandler', 886012, 4.0, "Head Prefect")

#Calling a function of the class Student using its instance
a.display()

Chandler
886012

## Task 1:
* Define an instance method that calculates the average gpa of a student. Call it average_gpa
* Define the "str" function that returns the student's name, university and major

In [ ]:
class Student:
  #Init function
  def __init__(self, user_name, university, major, gpas):
    self.user_name = user_name
    self.university = university
    self.major = major
    self.gpas = gpas
  
  #Function to calculate the gpa of a person
  def average_gpa(self):
    #1. Define a total variable and set it to 0
    total = 0.0
    #2. Loop through the gpas instant variables
    for gpa in self.gpas:
      #3. Add the gpa to the total
      total = total + gpa
    #4. Calculate the mean by dividing the total to the number of elements 
    num_elems = len(self.gpas)
    mean_gpa = total/num_elems

    return mean_gpa

  #String function
  def __str__(self):
    return f'Name: {self.user_name}\nUniversity:{self.university}\nMajor:{self.major}'

### Instatiating the object

In [ ]:
student1 = Student("Chandramohan Amudha Karishma", "UOL", "Computer Science", [89,92,97,88])
average = student1.average_gpa()
print(f'Average GPA of the student is {average}')

Average GPA of the student is 91.5

In [ ]:
print(student1)

Name: Chandramohan Amudha Karishma
University:UOL
Major:Computer Science

## Task 2:
* Read in the csv file(line by line)
* Tokenize each line to get the information
* For each line, create a student object and store in a list
* Print out the average gpa of each student

Mount - Will be taught in the future lessons

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
#Read line by line
f = open('/content/drive/MyDrive/Copy of student.csv', 'r')
lines = f.readlines()
f.close

In [ ]:
#Store student data objects
students = []
#Process each line
for line in lines:
  # Strip all white space characters from the line (white spaces = empty spaces, new line character, tab, ...)
  line = line.strip()

  #Tokenize the string
  tokens = line.split(',')
  
  name = tokens[0]
  university = tokens[1]
  major = tokens[2]

  #arrange index
  #Take tokens from index 3 till the end
  gpas = tokens[3:]
  int_gpas = []

  #convert strings to integers
  #Parse all gpas into int
  #List comprehension
  #gpas = [int(x) for x in gpas]
  for gpa in gpas:
    gpa = int(gpa)
    int_gpas.append(gpa)
    
  student = Student(name, university, major, int_gpas)
  students.append(student)

In [ ]:
for student in students:
  average_gpa = student.average_gpa()
  print(f'Name : {student.user_name}, Average GPA = {average_gpa}')

Name : Timothy Hayes, Average GPA = 71.0
Name : Jeremy Casey, Average GPA = 73.2
Name : Susan Erickson, Average GPA = 71.4
Name : Donald Ortiz, Average GPA = 79.4
Name : Harry Fisher, Average GPA = 90.8
Name : Kimberly Johnson, Average GPA = 76.6
Name : Zachary Navarro, Average GPA = 81.4
Name : Gabriella Ayala, Average GPA = 76.6
Name : Roger Morgan, Average GPA = 81.2
Name : Bob Navarro, Average GPA = 86.0
Name : Brenda Lynch, Average GPA = 84.0
Name : Alyssa Bryant, Average GPA = 82.8
Name : David Lewis, Average GPA = 73.6
Name : Laura Mitchell, Average GPA = 74.8
Name : Danielle Garcia, Average GPA = 83.0
Name : Don Contreras, Average GPA = 73.4
Name : Courtney Williams, Average GPA = 86.8
Name : Mary Mata, Average GPA = 69.0
Name : Cassandra Carr, Average GPA = 74.2
Name : Eric Campos, Average GPA = 73.6
Name : Ryan Jones, Average GPA = 68.0
Name : Rachel Davis, Average GPA = 79.2
Name : James Carter, Average GPA = 73.8
Name : Holly Rios, Average GPA = 71.8
Name : Katherine Knight, Average GPA = 64.4
Name : Matthew Becker, Average GPA = 75.4
Name : Carl Miller, Average GPA = 83.2
Name : Rachael Pierce, Average GPA = 70.8
Name : Jennifer Stark, Average GPA = 81.0
Name : Ryan Anderson, Average GPA = 69.4
Name : Sandra Swanson, Average GPA = 71.0
Name : Tiffany Ford, Average GPA = 74.4
Name : Jessica Gilbert, Average GPA = 80.6
Name : Samuel Jackson, Average GPA = 73.6
Name : Carol Jones DDS, Average GPA = 68.2
Name : Andrew Robinson, Average GPA = 83.2
Name : Heather Miller, Average GPA = 81.2
Name : Richard Campos, Average GPA = 90.8
Name : Joshua Washington, Average GPA = 78.6
Name : Carla Sellers, Average GPA = 70.0
Name : Julie Kaiser, Average GPA = 76.8
Name : Daniel Smith, Average GPA = 73.6
Name : Melanie Taylor, Average GPA = 79.2
Name : Daniel Dennis Jr., Average GPA = 72.0
Name : Margaret Miller, Average GPA = 78.8
Name : John Ingram, Average GPA = 74.8
Name : Emily Sanchez, Average GPA = 75.6
Name : Michelle Morgan, Average GPA = 87.2
Name : April Green, Average GPA = 77.4
Name : Todd Lee, Average GPA = 73.2
Name : Gregory Lopez, Average GPA = 89.2
Name : Frank Reed, Average GPA = 69.8
Name : Mr. Mario Johnson, Average GPA = 73.0
Name : Gregory Hernandez, Average GPA = 76.8
Name : Steven Clark, Average GPA = 73.8
Name : Kenneth Ramirez, Average GPA = 91.6
Name : Matthew Schroeder, Average GPA = 80.6
Name : Joshua Welch, Average GPA = 76.6
Name : Nicholas Le, Average GPA = 67.4
Name : Stephanie Nguyen, Average GPA = 80.8
Name : Maurice Kemp, Average GPA = 82.8
Name : Jesse Jackson, Average GPA = 66.4
Name : Jessica Roberson, Average GPA = 76.2
Name : Theresa Lopez, Average GPA = 76.4
Name : James Perez, Average GPA = 68.4
Name : Ryan Stephens, Average GPA = 61.8
Name : Veronica Romero, Average GPA = 84.0
Name : Shannon Mercer, Average GPA = 64.4
Name : Amanda Anderson, Average GPA = 67.4
Name : Anita Ford, Average GPA = 82.4
Name : Diane Santos, Average GPA = 76.6
Name : James Clark, Average GPA = 81.6
Name : Lisa Clark, Average GPA = 73.6
Name : Lisa Golden, Average GPA = 65.0
Name : Kenneth Reeves, Average GPA = 66.0
Name : Lauren Baker, Average GPA = 71.2
Name : Alan Jackson, Average GPA = 79.6
Name : Anna Hill, Average GPA = 76.0
Name : Mark Hobbs, Average GPA = 65.0
Name : Cynthia Wright, Average GPA = 80.8
Name : Steven Harrison, Average GPA = 73.0
Name : Samantha Estrada, Average GPA = 71.2
Name : Richard Butler, Average GPA = 73.0
Name : Jacob Williams, Average GPA = 75.6
Name : Courtney Walker, Average GPA = 79.4
Name : Mr. Kevin Roberts, Average GPA = 74.6
Name : Danielle Anderson, Average GPA = 65.0
Name : Ashley Curry, Average GPA = 77.4
Name : Thomas Palmer, Average GPA = 71.0
Name : Carrie Sherman, Average GPA = 68.0
Name : Mrs. Tammy Nguyen MD, Average GPA = 79.2
Name : David Adams PhD, Average GPA = 65.4
Name : Shelly Turner, Average GPA = 69.6
Name : Scott Thomas, Average GPA = 80.2
Name : Victoria Jackson, Average GPA = 78.4
Name : Daniel May, Average GPA = 69.6
Name : Andrew Rich, Average GPA = 76.8
Name : Victoria Nguyen, Average GPA = 76.6
Name : Nancy Vargas, Average GPA = 78.2
Name : Michael Strickland, Average GPA = 73.0