DACademy Python Fundamentals

In [ ]:
#comment
print('Hello World')

Hello World

Numeric Data Types

In [ ]:
# integers
print(10)

#long integers
print(2**32)

#float - decimals 
print(3.14)

#imaginary numbers 
print((2+3j))

10
4294967296
3.14
(2+3j)

Boolean

In [ ]:
a = True
b = 10%3
c=bool(a==b)
print(c)

True

Sequence Type

In [ ]:
name = 'Karishma'
print(name)

last_name = 'Chandramohan Amudha'
print('Full name: ' + name + ' ' + last_name)

Karishma
Full name: Karishma Chandramohan Amudha

String Formatting

In [ ]:
print("Full name: {0} {1}".format(name, last_name))

Full name: Karishma Chandramohan Amudha

Left Alignment

In [ ]:
name1 = 'Obi wan'
last_name1 = 'Kenobi'
name2 = 'Anakin'
last_name2 = 'Skywalker'
print("{0:10} {1:10}".format("Name", "Last Name"))
print("{0:10} {1:10}".format(name1, last_name1))
print("{0:10} {1:10}".format(name2, last_name2))

Name       Last Name
Obi wan    Kenobi
Anakin     Skywalker

Right Alignment

In [ ]:
name1 = 'Obi wan'
last_name1 = 'Kenobi'
name2 = 'Anakin'
last_name2 = 'Skywalker'
print("{0:>10} {1:>10}".format("Name", "Last Name"))
print("{0:>10} {1:>10}".format(name1, last_name1))
print("{0:>10} {1:>10}".format(name2, last_name2))

      Name  Last Name
   Obi wan     Kenobi
    Anakin  Skywalker

Center Alignment

In [ ]:
name1 = 'Obi wan'
last_name1 = 'Kenobi'
name2 = 'Anakin'
last_name2 = 'Skywalker'
print("{0:^10} {1:10}".format("Name", "Last Name"))
print("{0:^10} {1:10}".format(name1, last_name1))
print("{0:^10} {1:10}".format(name2, last_name2))

   Name    Last Name
 Obi wan   Kenobi
  Anakin   Skywalker

Lists

In [ ]:
list1=[]
list2=['simran', 'karishma', 'anthony']
mixedlist = [True, 'simran', 173, 3.14]
print(mixedlist)
print(list2)

[True, 'simran', 173, 3.14]
['simran', 'karishma', 'anthony']

In [ ]:
#append list
list1.append(10)
print(list1)
list1.append('Hi')
print(list1)

[10]
[10, 'Hi']

List Insert

In [ ]:
#
list1.insert(0,50)
print(list1)

[50, 10, 'Hi']

List delete

In [ ]:
del list1[1]
print(list1)
del list2[2]
print(list2)

[50, 'Hi']
['simran', 'karishma']

List Remove

In [ ]:
list1.remove(50)
print(list1)

['Hi']

In [ ]:
list2.remove('simran')
print(list2)

['karishma']

What will happen if I remove one of the duplicate item in the list?

In [ ]:
list3=[10,10,10]

In [ ]:
list3

[10, 10, 10]

In [ ]:
list3.remove(10)

In [ ]:
list3

[10, 10]

Ans: It will only remove the first occurence of the item to be removed

List indexing

In [ ]:
lista = [1,2,3,1,4]
index_a = lista.index(3)
print(index_a)

2

Min and max function in a list

In [ ]:
#min and max functions
min_lista = min(lista)
print(min_lista)

max_lista = max(lista)
print(max_lista)

1
4

Sorted Function for lists

In [ ]:
listNum = [4,2,1,3,6,5,9]
sorted_NumList = sorted(listNum)
print(sorted_NumList)

[1, 2, 3, 4, 5, 6, 9]

In [ ]:
listNum2 = [4,2,1,3,6,5,9]
listNum2.reverse()
print(listNum2)

[9, 5, 6, 3, 1, 2, 4]

In [ ]:
listNum2.clear()
print(listNum2)

[]

Adding of lists together

In [ ]:
list1 = ['Simran', 'Obi wan']
list2 = [2, 3, 4]
listAdded = list1 + list2
print(listAdded)

['Simran', 'Obi wan', 2, 3, 4]

List Multiply

In [ ]:
listNames = ['Ahsoka', 'Crosshair']
listMultiplied = listNames * 2
print(listMultiplied)

['Ahsoka', 'Crosshair', 'Ahsoka', 'Crosshair']

Tuples

Note: list has [] syntax; tuple has () syntax

In [ ]:
parents = ('mother', 'father')

In [ ]:
type(parents)

tuple

In [ ]:
tuplelist = list(parents)

In [ ]:
print(tuplelist)

['mother', 'father']

In [ ]:
type(tuplelist)

list

In [ ]:
tuplelist.append('sister')
print(tuplelist)

['mother', 'father', 'sister']

In [ ]:
#converting list back to tuple 
tuple(tuplelist)
len(tuplelist)

3