###Contents for the day
1. Sets
2. Dictionaries

4. Sets


*   An abstract data type that can store unique values, without any particular order
*   Computer implementation of the mathematical concept of a finite set
*   Mutable
*   Does not allow duplicates

In [ ]:
x = {"pandas", "lions", "penguins", "flamingos"}
print(x)

{'penguins', 'lions', 'flamingos', 'pandas'}

Add

In [ ]:
#Adding elements into the set using the add function
#willl be added in alphabetical order
x.add("rhinos")
print(x)

{'pandas', 'penguins', 'rhinos', 'lions', 'flamingos'}

Remove

In [ ]:
# Removing element into the set using the remove function
#Removing the element: penguins
x.remove("penguins")
print(x)

{'pandas', 'rhinos', 'lions', 'flamingos'}

In [ ]:
# Predefining the size of the set(Get back to you guys)
y=[" "] * 12
print(y)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [ ]:
# Different data types within a set(Get back to you guys)
z = {(1,2,3), "Hello", 2.0}
print(z)

{2.0, 'Hello', (1, 2, 3)}

In [ ]:
# Making a set from a list
r = [1,2,3,4,6,5,4]
# List form
print(r)
# Conversion from list to set
r_set = set(r)
print(r_set)
# Check the data type of r_set
type(r_set)

[1, 2, 3, 4, 6, 5, 4]
{1, 2, 3, 4, 5, 6}

set



*   Set cannot have mutable items
*   For example: List
*   Sets = {1,2,[3,4]}

5. Dictionary

*   used to store data values in key:value pairs
*   collection which is ordered, changeable, does not allow duplicates

Real Life Examples:
1. Storing Submitted Personal Data(name, age, date of birth etc.)

In [ ]:
# Empty Dictionary
dict_a = {}
print(dict_a)

{}

In [ ]:
# Personal Particulars
Richard = {
    "first_name": "Richard",
    "last_name": "Anderson",
    "age": 45,
    "tattoos": True
}
print(Richard)

{'first_name': 'Richard', 'last_name': 'Anderson', 'age': 45, 'tattoos': True}

In [ ]:
# Information about school records
# Nested Dictionary
sch_rec = {
    "name": "Ryan",
    "grade": 12,
    "score": {
        "english": 87,
        "math": 90,
        "science": 95,
        "mother-tongue": 55
    }
}
print(sch_rec)

{'name': 'Ryan', 'grade': 12, 'score': {'english': 87, 'math': 90, 'science': 95, 'mother-tongue': 55}}

In [ ]:
# Printing out the scores using the key
# Key: "Score"
sch_rec["score"]

{'english': 87, 'math': 90, 'science': 95, 'mother-tongue': 55}

Function to find the number of key-value pairs

In [ ]:
# Len function
print(len(Richard))

4

In [ ]:
# Key-value pairs in the school record: sch_rec
print(len(sch_rec))

3

In [ ]:
# Key-value pairs in the score dictionary within the school record
print(len(sch_rec["score"]))

4

Values accessed using the corresponding keys

In [ ]:
print("{0:10}{1:10}".format("Name", "Grade"))
print("{0:10}{1:<10}".format(sch_rec["name"], sch_rec["grade"]))
print("Scores: ")
print("{0:15} {1:<10}".format("English", sch_rec["score"]["english"]))
print("{0:15} {1:<10}".format("Math", sch_rec["score"]["math"]))
print("{0:15} {1:<10}".format("Science", sch_rec["score"]["science"]))
print("{0:15} {1:<10}".format("Mother-tongue", sch_rec["score"]["mother-tongue"]))

Name      Grade
Ryan      12
Scores:
English         87
Math            90
Science         95
Mother-tongue   55

Accessing the values using the get function

In [ ]:
first_name = Richard.get("first_name")
last_name = Richard.get("last_name")
age = Richard.get("age")
tattoos = Richard.get("tattoos")
print("First Name: ", first_name, "\nLast Name: ", last_name, "\nAge: ", age, "\nAny Tattoos: ", tattoos)

First Name:  Richard
Last Name:  Anderson
Age:  45
Any Tattoos:  True

Value not found in the dictionary

In [ ]:
email = Richard.get("email")
# Is None -> To check when the value is None
if(email is None):
  print("User have no email")
else:
  print("Email Address is: ", email)

User have no email