#Contents for the day:
1. Dictionary continuation 
2. For Loops
3. Functions

##Getting list of all keys

In [ ]:
#Personal Particulars
Richard = {
    "first_name": "Richard",
    "last_name": "Anderson",
    "age": 45,
    "tattoos": True
}
print(Richard)

{'first_name': 'Richard', 'last_name': 'Anderson', 'age': 45, 'tattoos': True}

In [ ]:
# Information about school records
#nested dictionary
sch_rec = {
    "name": "Ryan",
    "grade": 12,
    "score":{
        "english": 87,
        "math": 90,
        "science": 95,
        "mother-tongue": 55
    }
}
print(sch_rec)

{'name': 'Ryan', 'grade': 12, 'score': {'english': 87, 'math': 90, 'science': 95, 'mother-tongue': 55}}

In [ ]:
keys = Richard.keys()
print(keys)
keys_nested = sch_rec.keys()
keys_score = sch_rec['score'].keys()
print(keys_nested)
print(keys_score)

dict_keys(['first_name', 'last_name', 'age', 'tattoos'])
dict_keys(['name', 'grade', 'score'])
dict_keys(['english', 'math', 'science', 'mother-tongue'])

Returned list of keys is in arbitrary order

In [ ]:
all_keys = Richard.keys()
for key in all_keys:
  r = Richard.get(key)
  print("key = {0}, value={1}".format(key,r))

key = first_name, value=Richard
key = last_name, value=Anderson
key = age, value=45
key = tattoos, value=True

Getting list of all values

In [ ]:
values = Richard.values()
print(values)
# Getting all values in a nested dictionary
sch_rec = {
    '001': {"name": "Ryan", "grade": 12, "avg_score": 95},
    '002': {"name": "Jaslyn", "grade":12, "avg_score": 90}, 
    '003': {"name": "Ronald", "grade": 10, "avg_score": 55},
    '004': {"name": "Chad", "grade":9, "avg_score": 67}, 
    '005': {"name": "Joyce", "grade": 8, "avg_score": 82.5},
    '006': {"name": "Amanda", "grade":11, "avg_score": 98}

}

for id, info in sch_rec.items():
  print("\nStudent ID:", id)
  for key in info:
    print(key + ":", info[key])

dict_values(['Richard', 'Anderson', 45, True])

Student ID: 001
name: Ryan
grade: 12
avg_score: 95

Student ID: 002
name: Jaslyn
grade: 12
avg_score: 90

Student ID: 003
name: Ronald
grade: 10
avg_score: 55

Student ID: 004
name: Chad
grade: 9
avg_score: 67

Student ID: 005
name: Joyce
grade: 8
avg_score: 82.5

Student ID: 006
name: Amanda
grade: 11
avg_score: 98

Changing existing values

In [ ]:
#Changing existing values in a dictionary
print(Richard.get("last_name"))
Richard["last_name"] = "Todd"
print(Richard.get("last_name"))

Anderson
Todd

In [ ]:
#changing existing values in a nested dictionary
print(sch_rec['001'].get('name'))
sch_rec['001']['name'] = 'Ryan Tan'
print(sch_rec['001'].get('name'))

Ryan
Ryan Tan

Adding a new key-value pair in a dictionary

Regular Dictionary

In [ ]:
#Before alteration
print("Before Alteration: ", Richard)

Before Alteration:  {'first_name': 'Richard', 'last_name': 'Todd', 'age': 45, 'tattoos': True}

In [ ]:
Richard['email'] = 'richard149@gmail.com'

In [ ]:
#After alteration
print("After Alteration: ", Richard)

After Alteration:  {'first_name': 'Richard', 'last_name': 'Todd', 'age': 45, 'tattoos': True, 'email': 'richard149@gmail.com'}

Nested Dictionary

In [ ]:
#Before alteration
print("Before Alteration: ", sch_rec)

Before Alteration:  {'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5}, '006': {'name': 'Amanda', 'grade': 11, 'avg_score': 98}}

In [ ]:
sch_rec['001']['email'] = 'rand001@gamil.com'
sch_rec['002']['email'] = 'rand002@gmail.com'
sch_rec['003']['email'] = 'rand003@gmail.com'
sch_rec['004']['email'] = 'rand004@gmail.com'
sch_rec['005']['email'] = 'rand005@gmail.com'
sch_rec['006']['email'] = 'rand006@gmail.com'

In [ ]:
#After alteration
print("After Alteration: ", sch_rec)

After Alteration:  {'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95, 'email': 'rand001@gamil.com'}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90, 'email': 'rand002@gmail.com'}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55, 'email': 'rand003@gmail.com'}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67, 'email': 'rand004@gmail.com'}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5, 'email': 'rand005@gmail.com'}, '006': {'name': 'Amanda', 'grade': 11, 'avg_score': 98, 'email': 'rand006@gmail.com'}}

Deleting a new key-value pair from a dictionary

Regular dictionary

In [ ]:
#Before alteration
print("Before Alteration: ", Richard)

Before Alteration:  {'first_name': 'Richard', 'last_name': 'Todd', 'age': 45, 'tattoos': True, 'email': 'richard149@gmail.com'}

In [ ]:
del Richard['email']

In [ ]:
#After alteration
print("After Alteration: ", Richard)

After Alteration:  {'first_name': 'Richard', 'last_name': 'Todd', 'age': 45, 'tattoos': True}

Nested dictionary

In [ ]:
#Before alteration
print("Before Alteration: ", sch_rec)

Before Alteration:  {'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95, 'email': 'rand001@gamil.com'}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90, 'email': 'rand002@gmail.com'}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55, 'email': 'rand003@gmail.com'}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67, 'email': 'rand004@gmail.com'}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5, 'email': 'rand005@gmail.com'}, '006': {'name': 'Amanda', 'grade': 11, 'avg_score': 98, 'email': 'rand006@gmail.com'}}

In [ ]:
del sch_rec['001']['email']
del sch_rec['002']['email'] 
del sch_rec['003']['email'] 
del sch_rec['004']['email'] 
del sch_rec['005']['email'] 
del sch_rec['006']['email']

In [ ]:
#After alteration
print("After Alteration: ", sch_rec)

After Alteration:  {'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5}, '006': {'name': 'Amanda', 'grade': 11, 'avg_score': 98}}

Deleting all key-value pairs
*   Note: Dictionary will be empty

Regular Dictionary

In [ ]:
#Dictionary
print(Richard)
Richard.clear()
print(Richard)

{'first_name': 'Richard', 'last_name': 'Todd', 'age': 45, 'tattoos': True}
{}

Nested Dictionary

In [ ]:
print(sch_rec)
sch_rec['006'].clear()
print(sch_rec)

{'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5}, '006': {'name': 'Amanda', 'grade': 11, 'avg_score': 98}}
{'001': {'name': 'Ryan Tan', 'grade': 12, 'avg_score': 95}, '002': {'name': 'Jaslyn', 'grade': 12, 'avg_score': 90}, '003': {'name': 'Ronald', 'grade': 10, 'avg_score': 55}, '004': {'name': 'Chad', 'grade': 9, 'avg_score': 67}, '005': {'name': 'Joyce', 'grade': 8, 'avg_score': 82.5}, '006': {}}

## Python Basic syntax
1. Conditional Statements

Let a be 5 and b be 3. In this context 5 is always more than 3.

Initialise the variables

In [ ]:
a = 5
b = 3

Conditional statement

Example: Comparing Integers

In [ ]:
#If statement
if b < a:
  print("{1} is lesser than {0}".format(a,b))

3 is lesser than 5

In [ ]:
a = 5
b = 3
if a < b:
  print("{1} is not lesser than {0}".format(a,b))
else:
  print("{1} is lesser than {0}".format(a,b))

3 is lesser than 5

Initialise variables a,b,c

In [ ]:
a = 5
b = 3
c = 5

In [ ]:
if a < c:
  print("{1} is lesser than {0}".format(a,c))
elif a > c:
  print("{1} is not lesser than {0}".format(a,c))
else:
  print("a and c are equal")

a and c are equal

Examples(not gone through today)

*   Additional

Comparing 2 numbers

In [ ]:
#Example: comparing two numbers
#Input by user
print('Insert the first number : ')
#Default input is as string. Alphabetically, it will print 34 is greater than 123 as it is considering the character '3' and '1'
a = int(input())
print('Insert the second number : ')
b = int(input())

if(a == b):
  #can format string with 'f'
  print('{0} is equal to {1}'.format(a,b))
elif(a<b):
  print('{0} is smaller to {1}'.format(a,b))
else:
  print('{0} is greater to {1}'.format(a,b))

Insert the first number :
4
Insert the second number :
5
4 is smaller to 5

Example: Age restrictions for movies

In [ ]:
print('Insert your age:')
age = eval(input())

if(age < 13):
  print("PG-13 movies might not be suitable for you")
elif(age >= 13 and age <16):
  print("You are allowed to only watch PG-13 movies")
elif(age >=16 and age < 18):
  print("You are allowed to watch PG-13 and NC-16 movies")
elif(age >= 18 and age < 21):
  print("You are allowed to watch PG-13, NC-16 and M-18 movies")
elif(age >= 21):
  print("You can watch all movies without age restrictions")

Insert your age:
21
You can watch all movies without age restrictions

## Loops
1. Break statement
2. Continue statement
3. Pass statement

1. Break statement: When external condition is triggered, you can exit the loop

In [ ]:
n = 1
while n <= 100:
  print (n)
  n = n+1
  if n > 10:
    break
print("The while loop ends here")

1
2
3
4
5
6
7
8
9
10
The while loop ends here

2. Continue Statement: When the external condition is triggered, you can skip over that part of the loop to complete the loop

In [ ]:
num = 0
for num in range(6):
  if num == 4:
    continue
  print("Printed number: {0}".format(num))
print("Loop ends here")

Printed number: 0
Printed number: 1
Printed number: 2
Printed number: 3
Printed number: 5
Loop ends here

3. Pass Statement: When the external condition is triggered, you can handle the condition without the loop being impacted in any way

In [ ]:
num = 0
for num in range(6):
  if num == 4:
    pass
  print('Printed number is: {0}'.format(num))
print('Out of loop')

Printed number is: 0
Printed number is: 1
Printed number is: 2
Printed number is: 3
Printed number is: 4
Printed number is: 5
Out of loop

1. The purpose of learning break, pass and continue statements is so that you can handle instances where you need to escape a loop fully when an external condition is triggered or when you want to bypass an action of the loop and begin the next iteration
2. Mostly used to improve efficiency of the loop

###Range


*   Use range to generate a list of the number

### Range data type

*   In-built python datatype which is mainly used with while loops in python

In [ ]:
# For loop with range
for i in range(15):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
listr = list(range(10))
print(listr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#list with step of -1 -> Recap of what was gone through in the tutorial
list_s = list(range(5,-5,-1))
print(list_s)

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

For Loop
* used for iterating over a sequence that is a list, a tuple, a dictionary, a set or a set of strings

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# list with a For Loop
list_a = ["hi", "my", "name", "is", "Ryan", "Phone no:", 12345678]
for i in range(len(list_a)):
  print(list_a[i])

hi
my
name
is
Ryan
Phone no:
12345678

In [ ]:
# Increasing value of item in the list by 6
list_y = [1,2,3,4,5,6,7]
for i in range(len(list_y)):
  list_y[i] = list_y[i]+6
print(list_y)

[7, 8, 9, 10, 11, 12, 13]

Functions
* A group of related statements that performs a specific task
* Helps break down the program into smaller modules rather than a lengthy set of codes which can be unorganised

In [ ]:
# Adding two integers
# The variables in the brackets are parameters of the function
def addition(num_a, num_b):
  total = num_a + num_b
  print(total)

In [ ]:
# Output value returned should be 12
addition(7,5)

12

In [ ]:
addition(6,7) #Should output 13

13